#dlzc_wrapper {
  display: block;
  position: relative;
  width: 750px;
  margin: 0 auto;
}
#dlzc_wrapper .dlzc_module_wrapper {
  display: block;
  position: relative;
  width: 100%;
}
#dlzc_wrapper .top_module_wrapper {
  display: block;
  position: relative;
  width: 100%;
}
#dlzc_wrapper .top_module_wrapper .logo {
  display: block;
  height: 200px;
  width: 100px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: red;
}
#dlzc_wrapper .top_module_wrapper .title_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 26px;
  margin: 0 auto;
  margin-top: 30px;
  width: 90%;
}
#dlzc_wrapper .top_module_wrapper .title_wrapper span {
  font-size: 26px;
  line-height: 26px;
  text-align: center;
}
#dlzc_wrapper .top_module_wrapper .title_wrapper span:nth-child(1),
#dlzc_wrapper .top_module_wrapper .title_wrapper span:nth-child(3) {
  border: 1px solid grey;
  width: 220px;
  margin-top: 12.5px;
}
#dlzc_wrapper .top_module_wrapper .login_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}
#dlzc_wrapper .top_module_wrapper .login_wrapper .small_login_wrapper {
  display: block;
  margin: 0 auto;
  height: 146px;
  width: 150px;
}
#dlzc_wrapper .top_module_wrapper .login_wrapper .small_login_wrapper img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: red;
}
#dlzc_wrapper .top_module_wrapper .login_wrapper .small_login_wrapper span {
  display: block;
  width: 100%;
  margin-top: 20px;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
}
