#gywm_wrapper {
  display: block;
  position: relative;
  width: 750px;
  height: 1334px;
  margin: 0 auto;
}
#gywm_wrapper .logo {
  display: block;
  margin: 0 auto;
  margin-top: 200px;
  width: 50px;
  height: 150px;
  background-color: red;
}
#gywm_wrapper .introduce {
  margin: 0 auto;
  margin-top: 100px;
  display: block;
  font-size: 30px;
  text-align: center;
}
