#mb_wrapper {
  background-color: #666;
  display: block;
  width: 750px;
  height: 100%;
  margin: 0 auto;
}
#mb_wrapper .mb_item_wrapper {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 64px;
}
#mb_wrapper .mb_item_wrapper .progress {
  display: block;
  color: white;
  text-align: center;
  background-color: green;
}
#mb_wrapper .mb_item_wrapper .progress p {
  display: inline;
  font-size: 40px;
}
#mb_wrapper .mb_item_wrapper .progress p:nth-child(1) {
  font-size: 46px;
}
#mb_wrapper .mb_item_wrapper .title {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
  font-size: 36px;
  color: white;
}
#mb_wrapper .mb_item_wrapper .mb_control_wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  width: 750px;
  overflow: hidden;
  height: 380px;
}
#mb_wrapper .mb_item_wrapper .mb_control_wrapper .whole {
  display: block;
  position: relative;
  height: 100%;
  background-color: #666;
  transition: margin 1s ease 0s;
}
#mb_wrapper .mb_item_wrapper .mb_control_wrapper .whole div {
  display: inline-block;
  position: absolute;
  top: 0px;
  height: 390px;
  width: 570px;
  background-color: white;
}
#mb_wrapper .mb_item_wrapper .mb_control_wrapper .whole div img {
  display: block;
  margin: 0 auto;
  margin-top: 2.5%;
  height: 90%;
  width: 90%;
  background-color: red;
}
#mb_wrapper .mb_item_wrapper .desc {
  margin-top: 40px;
  font-size: 36px;
  color: white;
  text-align: center;
}
#mb_wrapper .mb_item_wrapper .start_build {
  display: block;
  position: relative;
  background-color: transparent;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  font-size: 50px;
  color: white;
  border-color: white;
}
#mb_wrapper .mb_item_wrapper .start_build p:nth-child(1) {
  margin: 0;
  margin-top: -5px;
}
#mb_wrapper .mb_item_wrapper .start_build p:nth-child(2) {
  margin: 0;
  margin-top: 10px;
}
