#xccy_wrapper {
  display: block;
  width: 750px;
  margin: 0 auto;
  position: relative;
}
.top_module_wrapper {
  display: block;
  width: 750px;
  margin: 0 auto;
  position: relative;
}
.top_module_wrapper .big_img {
  width: 100%;
  height: 370px;
  background-color: red;
}
.top_module_wrapper .desc_wrapper {
  height: 150px;
  display: block;
  position: relative;
  font-size: 30px;
  line-height: 150px;
  margin: 0 auto;
  text-align: center;
  color: black;
}
.top_module_wrapper .desc_wrapper span {
  display: inline;
  color: black;
  font-size: 30px;
}
.top_module_wrapper .desc_wrapper span:nth-child(2) {
  color: #e52e04;
}
.Middle_module_wrapper {
  display: block;
  position: relative;
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid grey;
}
.Middle_module_wrapper .Xccy_type1_middle_module_wrapper {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
}
.Middle_module_wrapper .Xccy_type1_middle_module_wrapper img {
  display: block;
  width: 100px;
  height: 58px;
  margin: 0 auto;
}
.Middle_module_wrapper .Xccy_type1_middle_module_wrapper span {
  display: block;
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
}
.Middle_module_wrapper .Xccy_type1_middle_module_wrapper img:last-child {
  display: block;
  width: 560px;
  height: 160px;
  margin: 0 auto;
  margin-top: 20px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper img {
  display: block;
  width: 100px;
  height: 58px;
  margin: 0 auto;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper span {
  display: block;
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_span {
  margin-top: 190px;
  display: block;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_span2 {
  margin-top: 500px;
  display: block;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper1,
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper2,
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper3,
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper4,
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper5 {
  position: relative;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper1 span:nth-child(1),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper2 span:nth-child(1),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper3 span:nth-child(1),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper4 span:nth-child(1),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper5 span:nth-child(1) {
  display: block;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper1 img,
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper2 img,
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper3 img,
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper4 img,
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper5 img {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper1 span:nth-child(3),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper2 span:nth-child(3),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper3 span:nth-child(3),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper4 span:nth-child(3),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper5 span:nth-child(3) {
  display: block;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  color: #e52e04;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper1 span:nth-child(4),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper2 span:nth-child(4),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper3 span:nth-child(4),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper4 span:nth-child(4),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper5 span:nth-child(4) {
  display: block;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  color: #e52e04;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper1 {
  height: 60px;
  width: 90px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper2 {
  height: 90px;
  width: 120px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper3 {
  height: 100px;
  width: 130px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper4 {
  height: 110px;
  width: 150px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .tra_img_wrapper .little_img_wrapper5 {
  height: 130px;
  width: 180px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper {
  display: block;
  position: relative;
  width: 110%;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper1,
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper2,
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper3,
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper4,
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper5 {
  position: relative;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper1 span:nth-child(1),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper2 span:nth-child(1),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper3 span:nth-child(1),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper4 span:nth-child(1),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper5 span:nth-child(1) {
  display: block;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper1 span:nth-child(3),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper2 span:nth-child(3),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper3 span:nth-child(3),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper4 span:nth-child(3),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper5 span:nth-child(3) {
  display: block;
  font-size: 22px;
  text-align: left;
  margin: 0 auto;
  margin-top: 30px;
  color: #e52e04;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper1 span:nth-child(4),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper2 span:nth-child(4),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper3 span:nth-child(4),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper4 span:nth-child(4),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper5 span:nth-child(4) {
  display: block;
  font-size: 22px;
  text-align: left;
  margin: 0 auto;
  margin-top: 10px;
  color: #e52e04;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper1 {
  display: block;
  float: left;
  height: 306px;
  width: 215px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper1 img {
  width: 215px;
  height: 160px;
  margin-top: 20px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper2 {
  display: block;
  float: left;
  height: 336px;
  margin-left: -135px;
  width: 255px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper2 img {
  width: 225px;
  height: 190px;
  margin-top: 20px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper3 {
  display: block;
  float: left;
  height: 366px;
  margin-left: -175px;
  width: 296px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper3 img {
  width: 296px;
  height: 220px;
  margin-top: 20px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper4 {
  display: block;
  float: left;
  height: 386px;
  margin-left: -206px;
  width: 323px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper4 img {
  width: 323px;
  height: 240px;
  margin-top: 20px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper5 {
  display: block;
  float: left;
  height: 406px;
  margin-left: -233px;
  width: 350px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper5 img {
  width: 350px;
  height: 260px;
  margin-top: 20px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper5 span:nth-child(3),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big_img_wrapper .little_img_wrapper5 span:nth-child(4) {
  text-align: center;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big2_img_wrapper {
  display: flex;
  width: 110%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big2_img_wrapper .little_img_wrapper1,
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big2_img_wrapper .little_img_wrapper2,
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big2_img_wrapper .little_img_wrapper3 {
  position: relative;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big2_img_wrapper .little_img_wrapper1 span:nth-child(1),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big2_img_wrapper .little_img_wrapper2 span:nth-child(1),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big2_img_wrapper .little_img_wrapper3 span:nth-child(1) {
  display: block;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big2_img_wrapper .little_img_wrapper1 img,
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big2_img_wrapper .little_img_wrapper2 img,
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big2_img_wrapper .little_img_wrapper3 img {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big2_img_wrapper .little_img_wrapper1 span:nth-child(3),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big2_img_wrapper .little_img_wrapper2 span:nth-child(3),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big2_img_wrapper .little_img_wrapper3 span:nth-child(3) {
  display: block;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  color: #e52e04;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big2_img_wrapper .little_img_wrapper1 span:nth-child(4),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big2_img_wrapper .little_img_wrapper2 span:nth-child(4),
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big2_img_wrapper .little_img_wrapper3 span:nth-child(4) {
  display: block;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  color: #e52e04;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big2_img_wrapper .little_img_wrapper1 {
  height: 190px;
  width: 190px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big2_img_wrapper .little_img_wrapper2 {
  height: 220px;
  width: 220px;
}
.Middle_module_wrapper .Xccy_type2_middle_module_wrapper .big2_img_wrapper .little_img_wrapper3 {
  height: 260px;
  width: 260px;
}
.Middle_module_wrapper .Xccy_type4_middle_module_wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 230px;
  border-top: 1px solid grey;
  padding-top: 80px;
  width: 100%;
}
.Middle_module_wrapper .Xccy_type4_middle_module_wrapper .left_wrapper,
.Middle_module_wrapper .Xccy_type4_middle_module_wrapper .right_wrapper,
.Middle_module_wrapper .Xccy_type4_middle_module_wrapper .down_left_wrapper,
.Middle_module_wrapper .Xccy_type4_middle_module_wrapper .down_right_wrapper {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 50%;
  height: 300px;
  float: left;
}
.Middle_module_wrapper .Xccy_type4_middle_module_wrapper .left_wrapper img {
  display: block;
  width: 100px;
  height: 70px;
  margin-top: 50px;
  margin-left: 135px;
}
.Middle_module_wrapper .Xccy_type4_middle_module_wrapper .left_wrapper span {
  display: inline-block;
  font-size: 22px;
  margin-left: 55px;
  margin-top: 20px;
}
.Middle_module_wrapper .Xccy_type4_middle_module_wrapper .right_wrapper img,
.Middle_module_wrapper .Xccy_type4_middle_module_wrapper .down_left_wrapper img {
  display: block;
  width: 240px;
  height: 240px;
  margin: 0 auto;
}
.Middle_module_wrapper .Xccy_type4_middle_module_wrapper .down_right_wrapper img {
  display: block;
  width: 100px;
  height: 70px;
  margin-top: 50px;
  margin-left: 85px;
}
.Middle_module_wrapper .Xccy_type4_middle_module_wrapper .down_right_wrapper span:nth-child(2) {
  display: block;
  width: 250px;
  font-size: 22px;
  margin-top: 20px;
}
.Middle_module_wrapper .Xccy_type5_middle_module_wrapper {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}
.Middle_module_wrapper .Xccy_type5_middle_module_wrapper .left_wrapper,
.Middle_module_wrapper .Xccy_type5_middle_module_wrapper .right_wrapper {
  display: block;
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 50%;
  height: 250px;
}
.Middle_module_wrapper .Xccy_type5_middle_module_wrapper .left_wrapper img {
  display: block;
  width: 100px;
  height: 58px;
  margin-top: 40px;
  margin-left: 135px;
}
.Middle_module_wrapper .Xccy_type5_middle_module_wrapper .left_wrapper span {
  display: block;
  margin-top: 20px;
  margin-left: 55px;
  font-size: 22px;
}
.Middle_module_wrapper .Xccy_type5_middle_module_wrapper .right_wrapper img {
  margin-top: 40px;
  margin-left: 45px;
  width: 240px;
  height: 240px;
}
.Middle_module_wrapper .Xccy_type6_middle_module_wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 970px;
  padding-top: 50px;
  border-top: 2px dashed grey;
  width: 100%;
}
.Middle_module_wrapper .Xccy_type6_middle_module_wrapper img {
  display: block;
  width: 100px;
  height: 70px;
  margin: 0 auto;
}
.Middle_module_wrapper .Xccy_type6_middle_module_wrapper .top,
.Middle_module_wrapper .Xccy_type6_middle_module_wrapper .bottom {
  display: block;
  width: 670px;
  height: 230px;
  margin: 0 auto;
  border: 1px solid red;
  margin-top: 20px;
}
.Middle_module_wrapper .Xccy_type6_middle_module_wrapper .top div,
.Middle_module_wrapper .Xccy_type6_middle_module_wrapper .bottom div {
  display: block;
  height: 100px;
  width: 180px;
  margin: 0 auto;
  margin-top: 65px;
  border: 1px solid red;
  background-color: #e52e04;
}
.Middle_module_wrapper .Xccy_type6_middle_module_wrapper .top div span,
.Middle_module_wrapper .Xccy_type6_middle_module_wrapper .bottom div span {
  display: block;
  font-size: 26px;
  color: white;
  height: 26px;
  line-height: 26px;
  text-align: center;
}
.Middle_module_wrapper .Xccy_type6_middle_module_wrapper .top div span:nth-child(1) {
  margin-top: 24px;
}
.Middle_module_wrapper .Xccy_type6_middle_module_wrapper .top div span:nth-child(2) {
  margin-top: 10px;
}
.Middle_module_wrapper .Xccy_type6_middle_module_wrapper .bottom div span {
  margin-top: 37px;
}
.bottom_module_wrapper {
  display: block;
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  border-top: 2px solid grey;
}
.bottom_module_wrapper .middle_module {
  display: block;
  position: relative;
  width: 100%;
  height: 340px;
}
.bottom_module_wrapper .middle_module .icon_img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: red;
}
.bottom_module_wrapper .middle_module span {
  display: block;
  font-size: 30px;
  color: #e52e04;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.bottom_module_wrapper .middle_module span:last-child {
  display: block;
  font-size: 30px;
  color: black;
  margin: 0 auto;
  margin-top: 10px;
}
.sszz_go_produce {
  display: block;
  width: 100%;
  background-color: #e52e04;
  color: white;
  height: 87px;
  line-height: 87px;
  border: 0px;
  text-align: center;
}
