#ykjz_wrapper {
  display: block;
  width: 750px;
  margin: 0 auto;
  position: relative;
}
.top_module_wrapper {
  display: block;
  width: 750px;
  margin: 0 auto;
  position: relative;
}
.top_module_wrapper .big_img {
  display: block;
  width: 100%;
  height: 370px;
  background-color: red;
}
.top_module_wrapper .desc_wrapper {
  display: block;
  width: 100%;
  height: 180px;
}
.top_module_wrapper .desc_wrapper span {
  display: block;
  margin: 0 auto;
  font-size: 26px;
  text-align: center;
}
.top_module_wrapper .desc_wrapper span:first-of-type {
  margin-top: 20px;
}
.top_module_wrapper .desc_wrapper span:last-child {
  margin-bottom: 20px;
}
.Middle_module_wrapper {
  display: block;
  position: relative;
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid grey;
}
.Middle_module_wrapper .Ykjz_type1_middle_module_wrapper {
  display: block;
  position: relative;
  width: 100%;
}
.Middle_module_wrapper .Ykjz_type1_middle_module_wrapper img {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  height: 58px;
  width: 100px;
  background-color: red;
}
.Middle_module_wrapper .Ykjz_type1_middle_module_wrapper span {
  display: block;
  margin-top: 10px;
  font-size: 22px;
  height: 22px;
  text-align: center;
}
.Middle_module_wrapper .Ykjz_type1_middle_module_wrapper .img_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  width: 90%;
  margin: 0 auto;
  height: 300px;
}
.Middle_module_wrapper .Ykjz_type1_middle_module_wrapper .img_wrapper .little_img_wrapper1 img {
  width: 130px;
  height: 226px;
}
.Middle_module_wrapper .Ykjz_type1_middle_module_wrapper .img_wrapper .little_img_wrapper1 span {
  display: block;
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
}
.Middle_module_wrapper .Ykjz_type1_middle_module_wrapper .img_wrapper .little_img_wrapper1 span:last-child {
  margin-top: 10px;
}
.Middle_module_wrapper .Ykjz_type1_middle_module_wrapper .img_wrapper .little_img_wrapper2 img {
  width: 130px;
  height: 206px;
}
.Middle_module_wrapper .Ykjz_type1_middle_module_wrapper .img_wrapper .little_img_wrapper2 span {
  display: block;
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
}
.Middle_module_wrapper .Ykjz_type1_middle_module_wrapper .img_wrapper .little_img_wrapper2 span:last-child {
  margin-top: 10px;
}
.Middle_module_wrapper .Ykjz_type1_middle_module_wrapper .img_wrapper .little_img_wrapper3 img {
  width: 130px;
  height: 186px;
}
.Middle_module_wrapper .Ykjz_type1_middle_module_wrapper .img_wrapper .little_img_wrapper3 span {
  display: block;
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
}
.Middle_module_wrapper .Ykjz_type1_middle_module_wrapper .img_wrapper .little_img_wrapper3 span:last-child {
  margin-top: 10px;
}
.Middle_module_wrapper .Ykjz_type1_middle_module_wrapper .img_wrapper .little_img_wrapper4 img {
  width: 130px;
  height: 166px;
}
.Middle_module_wrapper .Ykjz_type1_middle_module_wrapper .img_wrapper .little_img_wrapper4 span {
  display: block;
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
}
.Middle_module_wrapper .Ykjz_type1_middle_module_wrapper .img_wrapper .little_img_wrapper4 span:last-child {
  margin-top: 10px;
}
.Middle_module_wrapper .Ykjz_type2_middle_module_wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
  padding-top: 80px;
  width: 100%;
  height: 400px;
  border-top: 1px dashed grey;
}
.Middle_module_wrapper .Ykjz_type2_middle_module_wrapper .left_wrapper,
.Middle_module_wrapper .Ykjz_type2_middle_module_wrapper .right_wrapper {
  display: block;
  box-sizing: border-box;
  width: 50%;
  height: 300px;
  float: left;
}
.Middle_module_wrapper .Ykjz_type2_middle_module_wrapper .right_wrapper img {
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.Middle_module_wrapper .Ykjz_type2_middle_module_wrapper .left_wrapper div {
  display: block;
  float: left;
  clear: left;
}
.Middle_module_wrapper .Ykjz_type2_middle_module_wrapper .left_wrapper div img {
  display: block;
  width: 58px;
  height: 58px;
  margin: 0 auto;
  background-color: red;
}
.Middle_module_wrapper .Ykjz_type2_middle_module_wrapper .left_wrapper div span {
  display: inline;
  font-size: 22px;
  text-align: left;
  color: black;
}
.Middle_module_wrapper .Ykjz_type2_middle_module_wrapper .left_wrapper div span h5 {
  display: inline;
  font-size: 22px;
  text-align: left;
  color: #e53e04;
}
.Middle_module_wrapper .Ykjz_type3_middle_module_wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 400px;
}
.Middle_module_wrapper .Ykjz_type3_middle_module_wrapper .left_wrapper,
.Middle_module_wrapper .Ykjz_type3_middle_module_wrapper .right_wrapper {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 50%;
  height: 300px;
  float: left;
}
.Middle_module_wrapper .Ykjz_type3_middle_module_wrapper .right_wrapper img {
  display: block;
  width: 100px;
  height: 70px;
  margin-top: 50px;
  margin-left: 55px;
}
.Middle_module_wrapper .Ykjz_type3_middle_module_wrapper .right_wrapper span {
  display: block;
  width: 250px;
  font-size: 22px;
  margin-left: 55px;
  margin-top: 10px;
}
.Middle_module_wrapper .Ykjz_type3_middle_module_wrapper .left_wrapper img {
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.Middle_module_wrapper .Ykjz_type4_middle_module_wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 400px;
}
.Middle_module_wrapper .Ykjz_type4_middle_module_wrapper .left_wrapper,
.Middle_module_wrapper .Ykjz_type4_middle_module_wrapper .right_wrapper {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 50%;
  height: 300px;
  float: left;
}
.Middle_module_wrapper .Ykjz_type4_middle_module_wrapper .right_wrapper img {
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.Middle_module_wrapper .Ykjz_type4_middle_module_wrapper .left_wrapper img {
  display: block;
  width: 100px;
  height: 70px;
  margin-top: 50px;
  margin-left: 55px;
}
.Middle_module_wrapper .Ykjz_type4_middle_module_wrapper .left_wrapper span {
  display: block;
  width: 250px;
  font-size: 22px;
  margin-left: 55px;
  margin-top: 10px;
}
.Middle_module_wrapper .Ykjz_type5_middle_module_wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top: 70px;
  border-top: 2px dashed grey;
  width: 100%;
}
.Middle_module_wrapper .Ykjz_type5_middle_module_wrapper img {
  display: block;
  width: 100px;
  height: 70px;
  margin: 0 auto;
}
.Middle_module_wrapper .Ykjz_type5_middle_module_wrapper .top,
.Middle_module_wrapper .Ykjz_type5_middle_module_wrapper .bottom {
  display: block;
  width: 670px;
  height: 230px;
  margin: 0 auto;
  border: 1px solid red;
  margin-top: 20px;
}
.Middle_module_wrapper .Ykjz_type5_middle_module_wrapper .top div,
.Middle_module_wrapper .Ykjz_type5_middle_module_wrapper .bottom div {
  display: block;
  height: 100px;
  width: 180px;
  margin: 0 auto;
  margin-top: 65px;
  border: 1px solid red;
  background-color: #e52e04;
}
.Middle_module_wrapper .Ykjz_type5_middle_module_wrapper .top div span,
.Middle_module_wrapper .Ykjz_type5_middle_module_wrapper .bottom div span {
  display: block;
  font-size: 26px;
  color: white;
  height: 26px;
  line-height: 26px;
  text-align: center;
}
.Middle_module_wrapper .Ykjz_type5_middle_module_wrapper .top div span:nth-child(1) {
  margin-top: 24px;
}
.Middle_module_wrapper .Ykjz_type5_middle_module_wrapper .top div span:nth-child(2) {
  margin-top: 10px;
}
.Middle_module_wrapper .Ykjz_type5_middle_module_wrapper .bottom div span {
  margin-top: 37px;
}
.bottom_module_wrapper {
  display: block;
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
  border-top: 1px solid grey;
}
.bottom_module_wrapper .middle_module {
  display: block;
  position: relative;
  width: 100%;
  height: 340px;
}
.bottom_module_wrapper .middle_module .icon_img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: red;
}
.bottom_module_wrapper .middle_module span {
  display: block;
  font-size: 30px;
  color: #e52e04;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.bottom_module_wrapper .middle_module span:last-child {
  display: block;
  font-size: 30px;
  color: black;
  margin: 0 auto;
  margin-top: 10px;
}
.sszz_go_produce {
  display: block;
  width: 100%;
  background-color: #e52e04;
  color: white;
  height: 87px;
  line-height: 87px;
  border: 0px;
  text-align: center;
}
