#zffs_wrapper {
  display: block;
  position: relative;
  width: 750px;
  margin: 0 auto;
  background-color: #ccc;
}
#zffs_wrapper .zffs_module_wrapper {
  display: block;
  position: relative;
  width: 100%;
}
#zffs_wrapper .zffs_module_wrapper .price_wrapper,
#zffs_wrapper .zffs_module_wrapper .pay_zone {
  background-color: white;
}
#zffs_wrapper .zffs_module_wrapper .price_wrapper {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 210px;
}
#zffs_wrapper .zffs_module_wrapper .price_wrapper span {
  display: inline-block;
  width: 50%;
  height: 100%;
  font-size: 30px;
  line-height: 210px;
}
#zffs_wrapper .zffs_module_wrapper .price_wrapper span:nth-child(1) {
  text-align: left;
}
#zffs_wrapper .zffs_module_wrapper .price_wrapper span:nth-child(2) {
  color: #e52e04;
  text-align: right;
}
#zffs_wrapper .zffs_module_wrapper .pay_zone {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
#zffs_wrapper .zffs_module_wrapper .pay_zone .pay_type_wrapper {
  display: inline-block;
  height: 110px;
  width: calc(670px);
  margin: 0 auto;
  border-bottom: 1px solid grey;
  overflow: hidden;
}
#zffs_wrapper .zffs_module_wrapper .pay_zone .pay_type_wrapper .icon,
#zffs_wrapper .zffs_module_wrapper .pay_zone .pay_type_wrapper .title {
  display: inline-block;
  float: left;
  text-align: center;
  font-size: 30px;
  line-height: 110px;
  height: 110px;
}
#zffs_wrapper .zffs_module_wrapper .pay_zone .pay_type_wrapper .icon {
  display: inline-block;
  margin-top: 15px;
  margin-left: 40px;
  width: 80px;
  height: 80px;
  background-color: red;
}
#zffs_wrapper .zffs_module_wrapper .pay_zone .pay_type_wrapper .confirm {
  display: inline-block;
  margin-top: 25px;
  float: right;
  width: 60px;
  height: 60px;
  background-color: red;
}
#zffs_wrapper .zffs_module_wrapper .blank_space {
  display: block;
  width: 100%;
  height: 300px;
  background-color: white;
}
