#zpsbj_wrapper {
  display: block;
  position: relative;
  width: 750px;
  margin: 0 auto;
  box-sizing: border-box;
}
.template_wrapper {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid grey;
  height: 290px;
  width: 335px;
  overflow: hidden;
}
.template_wrapper .template {
  display: block;
  position: relative;
}
.template_wrapper .template img {
  background-color: red;
}
.editor_wrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
}
