#dlzc_wrapper {
    display: block;
    position: relative;
    width: 750px;
    margin: 0 auto;
    .dlzc_module_wrapper {
        display: block;
        position: relative;
        width: 100%;
    }
    .top_module_wrapper {
        display: block;
        position: relative;
        width: 100%;
        .logo {
            display: block;
            height: 200px;
            width: 100px;
            margin: 0 auto;
            margin-top: 100px;
            background-color: red;
        }
        .title_wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            height: 26px;
            margin: 0 auto;
            margin-top: 30px;
            width: 90%;
            span {
                font-size: 26px;
                line-height: 26px;
                text-align: center;
            }
            span:nth-child(1),
            span:nth-child(3) {
                border: 1px solid grey;
                width: 220px;
                margin-top: 12.5px;
            }
        }
        .login_wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            position: relative;
            width: 90%;
            margin: 0 auto;
            margin-top: 30px;
            .small_login_wrapper {
                display: block;
                margin: 0 auto;
                height: 146px;
                width: 150px;
                img {
                    display: block;
                    margin: 0 auto;
                    width: 100px;
                    height: 100px;
                    background-color: red;
                }
                span {
                    display: block;
                    width: 100%;
                    margin-top: 20px;
                    font-size: 26px;
                    line-height: 26px;
                    text-align: center;
                }
            }
        }
    }
    .bottom_module_wrapper,
    .bottom_module_wrapper2 {
        display: block;
        width: 90%;
        margin: 0 auto;
        margin-top: 94px;
        font-size: 30px;
        .name_wrapper {
            display: block;
            width: 630px;
            margin: 0 auto;
            height: 90px;
            span {
                display: block;
                float: left;
                width: 140px;
                height: 90px;
                box-sizing: border-box;
                text-align: center;
                line-height: 90px;
                border: 1px solid grey;
            }
            .input_username {
                display: block;
                float: left;
                width: 490px;
                height: 90px;
                box-sizing: border-box;
                line-height: 90px;
                border: 1px solid grey;
                border-left: 0px;
                font-size: 30px;
                color: grey;
            }
        }
        .phone_wrapper {
            display: block;
            width: 630px;
            margin: 0 auto;
            height: 90px;
            span {
                display: block;
                float: left;
                width: 140px;
                height: 90px;
                box-sizing: border-box;
                text-align: center;
                line-height: 90px;
                border: 1px solid grey;
            }
            .input_phone {
                display: block;
                float: left;
                width: 490px;
                height: 90px;
                box-sizing: border-box;
                line-height: 90px;
                border: 1px solid grey;
                border-left: 0px;
                font-size: 30px;
                color: grey;
            }
        }
        .password_wrapper {
            display: block;
            width: 630px;
            height: 90px;
            margin: 0 auto;
            margin-top: 18px;
            span {
                display: block;
                float: left;
                width: 140px;
                height: 90px;
                box-sizing: border-box;
                text-align: center;
                line-height: 90px;
                border: 1px solid grey;
            }
            .input_password {
                display: block;
                float: left;
                width: 490px;
                height: 90px;
                box-sizing: border-box;
                line-height: 90px;
                border: 1px solid grey;
                border-left: 0px;
                font-size: 30px;
                color: grey;
            }
        }
        .code_wrapper {
            display: block;
            width: 630px;
            height: 90px;
            margin: 0 auto;
            margin-top: 18px;
            .yzm {
                display: block;
                float: left;
                width: 140px;
                height: 90px;
                box-sizing: border-box;
                text-align: center;
                line-height: 90px;
                border: 1px solid grey;
            }
            .input_code {
                display: block;
                float: left;
                width: 290px;
                height: 90px;
                box-sizing: border-box;
                line-height: 90px;
                border: 1px solid grey;
                border-left: 0px;
                font-size: 30px;
                color: grey;
            }
            .get_code_wrapper {
                display: block;
                position: relative;
                float: left;
                width: 200px;
                height: 90px;
                box-sizing: border-box;
                background-color: grey;
                text-align: center;
                span {
                    display: block;
                    width: 200px;
                    height: 90px;
                    font-size: 30px;
                    line-height: 90px;
                    text-align: center;
                    color: white;
                }
            }
            .get_code_wrapper2 {
                display: block;
                float: left;
                width: 200px;
                height: 90px;
                font-size: 30px;
                text-align: center;
                background-color: grey;
                span {
                    color: white;
                    display: block;
                    height: 30px;
                    margin: 0 auto;
                    margin-top: 10px;
                    line-height: 30px;
                }
                span:nth-child(2) {
                    color: white;
                    display: block;
                    height: 30px;
                    margin: 0 auto;
                    margin-top: 10px;
                    line-height: 30px;
                }
            }
        }
        .fun_wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            text-align: center;
            color: grey;
            margin: 0 auto;
            margin-top: 30px;
            width: 630px;
        }
        .register,
        .login_in {
            display: block;
            width: 630px;
            height: 70px;
            margin: 0 auto;
            margin-top: 86px;
            border: 0px;
            text-align: center;
            font-size: 30px;
            line-height: 70px;
            border: 1px solid #e52e04;
            border-radius: 15px;
            background-color: transparent;
            color: #e52e04;
        }
        .register {
            margin-top: 46px;
        }
        .registered_wrapper {
            display: block;
            position: relative;
            margin: 0 auto;
            margin-top: 30px;
            height: 26px;
            width: 630px;
            div {
                display: block;
                font-size: 26px;
                height: 26px;
                line-height: 26px;
                float: right;
                margin-right: 40px;
                color: blue;
            }
        }
    }
}
