#wrap_slider {
    display: block;
    margin: 0 auto;
    max-width: 750px;
    min-width: 750px;
}

#slider {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 750px;
    height: 419px;
    ul {
        li {
            img {
                width: 100%;
                display: blcok;
                background-size: contain;
            }
        }
    }
}

.ad_container {
    width: 670px;
    height: 100px;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 26px;
    border: 1px solid red;
    a {
        position: absolute;
        display: inline-block;
        top: 34px;
        right: 30px;
        width: 20px;
        height: 32px;
        background-color: red;
    }
    &::after {
        position: absolute;
        content: '';
        display: inline-block;
        left: 50px;
        top: 0px;
        width: 20px;
        height: 40px;
        background-color: red;
    }
    .content_wrapper {
        display: block;
        position: relative;
        margin: 0 auto;
        font-size: 32px;
        margin-top: 26px;
        width: 70%;
        div {
            display: block;
            position: relative;
            // margin: 0 auto;
            // width: 100%;
            text-align: center;
            &::after {
                //父容器位置
                content: '';
                display: inline-block;
                width: 100%;
            }
            p {
                display: inline;
                color: #999999;
            }
            .divider {
                display: inline-block;
                height: 30px;
                width: 1px;
                background-color: #999999;
                margin: 0 10px;
                vertical-align: middle;
                &::before {
                    //当前容器位置
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    height: 100%;
                }
            }
            p:nth-child(1) {
                color: red;
            }
        }
    }
}

.mt20 {
    margin-top: 20px;
}

.grey {
    display: block;
    position: relative;
    margin: 0 auto;
    height: 20px;
    width: 100%;
    max-width: 750px;
    margin-top: 26px;
    background-color: #cccccc;
}

.title_cargo {
    display: block;
    font-size: 30px;
    color: red;
    width: 150px;
    margin: 0 auto;
    margin-top: 25px;
}

#wrap_cargo {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    width: 100%;
    max-width: 750px;
    position: relative;
    height: 1500px;
}

.product_container {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

.litem {
    position: absolute;
    display: inline-block;
    left: 0;
    width: 50%;
    max-width: 375px;
    height: 370px;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    &::after {
        //父容器位置
        content: '';
        display: inline-block;
        width: 100%;
    }
    p {
        display: block;
        position: relative;
        margin: 0 auto;
        font-size: 34px;
        text-align: center;
        margin-top: 30px;
    }
    a {
        display: block;
        position: relative;
        margin: 0 auto;
        vertical-align: middle;
        font-size: 32px;
        height: 34px;
        width: 142px;
        border-radius: 10px;
        border: 1px solid #e52e04;
        background-color: #e52e04;
        text-align: center;
        margin-top: 10px;
        padding-bottom: 5px;
        &::before {
            //当前容器位置
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
    }
    img {
        display: block;
        position: relative;
        margin: 0 auto;
        margin-top: 10px;
    }
}

#litem1,
#litem2,
#litem3,
#litem4 {
    color: white;
}

.ritem {
    position: absolute;
    display: inline-block;
    left: 50%;
    width: 50%;
    max-width: 375px;
    height: 500px;
    border-top: 1px solid grey;
    p:nth-child(1) {
        font-size: 36px;
        display: block;
        font-weight: bolder;
        position: relative;
        margin-left: 50px;
    }
    p:nth-child(2) {
        margin-top: 16px;
    }
    p:nth-child(2),
    p:nth-child(3) {
        font-size: 18px;
        display: block;
        position: relative;
        margin-left: 50px;
        color: grey;
    }
    p:nth-child(4) {
        margin-top: 18px;
        margin-left: 50px;
        display: inline-block;
        position: relative;
        font-size: 30px;
        color: red;
        font-weight: bolder;
    }
    p:nth-child(5) {
        display: inline-block;
        position: relative;
        font-size: 22px;
        color: red;
    }
    img {
        display: block;
        position: relative;
        margin-left: 50px;
    }
}

.middle_zone {
    display: block;
    position: relative;
    // height: 620px;
    height: 1300px;
    width: 100%;
    max-width: 750px;
    min-width: 710px;
    background-color: #eeeeee;
    margin: 0 auto;
}

#wrap_cargo,
#wrap_ad3 {
    background-color: white;
}

#wrap_ad3 {
    display: blcok;
    width: 100%;
    margin-top: 20px;
    position: relative;
    height: 130px;
    .mid_container {
        width: 100%;
        display: block;
        position: relative;
        .mid_content_wrapper {
            display: block;
            position: relative;
            div {
                width: 100%;
                display: inline-block;
                position: relative;
                text-align: center;
                font-weight: bolder;
                p:nth-child(1) {
                    margin: 0;
                    margin-top: 35px;
                    display: block;
                    color: #e52e04;
                    font-size: 30px;
                }
                p:nth-child(2) {
                    margin: 0;
                    margin-top: 4px;
                    display: block;
                    color: #999999;
                    font-size: 26px;
                }
            }
        }
    }
}

#nav_wrapper {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    width: 97%;
    .nav_item_wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        //定义主轴间隔
        align-content: center;
        position: relative;
        width: 100%;
        a {
            // width:170px;
            text-decoration: none;
            background-color: #fff;
            flex-basis: 170px;
            height: 70px;
            font-size: 18px;
            color: #999999;
            border: 1px solid #999999;
            text-align: center;
            div {
                margin-top: 8px;
                p {
                    margin: 0;
                    display: inline-block;
                }
                p:nth-child(1) {
                    letter-spacing: 5px;
                    font-size: 26px;
                }
            }
        }
    }
}

#video_wrapper {
    .video_item_wrapper {
        display: block;
        position: relative;
        width: 100%;
        height: 468px;
        margin-top: 40px;
        p {
            display: block;
            margin: 0 auto;
            font-size: 28px;
            color: #666;
            text-align: center;
        }
        .video_control_wrapper {
             display: block;
            position: relative;
            margin: 0 auto;
            margin-top: 20px;
            width: 750px;
            overflow: hidden;
            height: 380px;
            .whole {
                display: block;
                position: relative;
                height: 100%;
                background-color: #666;
                transition: margin 1s ease 0s;
                div {
                    display: inline-block;
                    position: absolute;
                    top: 0px;
                    height: 380px;
                    width: 560px;
                    background-color: white;
                    img {
                        display: block;
                        margin: 0 auto;
                        margin-top: 2.5%;
                        height: 90%;
                        width: 90%;
                        background-color: red;
                    }
                }
            }
        }
    }
}

#story_wrapper {
    display: block;
    max-width: 750px;
    .story_pic {
        display: block;
        position: relative;
        margin-top: 40px;
        width: 100%;
        max-width: 750px;
        height: 200px;
        background-color: green;
    }
    .story_name {
        display: block;
        width: 100%;
        position: relative;
        height: 80px;
        background-color: white;
        p {
            display: block;
            font-size: 30px;
            text-align: center;
            color: #e52e04;
            padding-top: 25px;
            font-weight: bolder;
        }
        a {
            position: absolute;
            text-decoration: none;
            outline: none;
            top: 27px;
            right: 20px;
            font-size: 26px;
            color: black;
        }
    }
    .activity {
        display: block;
        position: relative;
        height: 240px;
        width: 100%;
        header {
            display: block;
            margin: 0 auto;
            margin-top: 20px;
            font-size: 26px;
            width: 90%;
        }
        p {
            display: block;
            margin: 0 auto;
            font-size: 22px;
            margin-top: 4px;
            width: 90%;
        }
    }
}

#blog_wrapper {
    max-width: 750px;
    min-width: 710px;
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: #eee;
    div {
        display: block;
        position: relative;
        width: 95%;
        margin: 0 auto;
        background-color: white;
        .blog_head_wrapper {
            display: block;
            position: relative;
            width: 670px;
            height: 140px;
            border-bottom: 2px solid #eee;
            .icon {
                display: inline-block;
                float: left;
                margin-left: 40px;
                margin-top: 20px;
                height: 100px;
                width: 100px;
                background-color: red;
                border-radius: 50px;
                border-color: red;
            }
            .info {
                display: inline-block;
                width: 150px;
                float: left;
                margin-left: 15px;
                margin-top: 30px;
                font-size: 28px;
                color: #cccccc;
                p {
                    margin: 0;
                    display: inline-block;
                }
            }
            .ricon {
                display: inline-block;
                float: right;
                margin-right: 40px;
                margin-top: 46px;
                height: 48px;
                width: 96px;
                border-radius: 20px;
                border: 2px solid red;
                &::before {
                    display: inline-block;
                    content: "";
                    position: absolute;
                    top: 15px;
                    left: 20px;
                    background-color: red;
                    width: 20px;
                    height: 20px;
                }
                &::after {
                    display: inline-block;
                    content: "";
                    position: absolute;
                    top: 15px;
                    right: 20px;
                    background-color: red;
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .blog_photo {
            display: block;
            margin-top: 20px;
            width: 670px;
            height: 380px;
            background-color: red;
        }
        .message {
            display: block;
            margin-top: 24px;
            width: 670px;
            font-weight: bolder;
            padding-bottom: 10px;
            border-bottom: 2px solid #eeeeee;
        }
        .blog_button_wrapper {
            display: flex;
            position: relative;
            width: 670px;
            justify-content: space-between;
            align-items: center;
            button {
                font-size: 30px;
                width: 228px;
                background-color: transparent;
                border-color: #e52e04;
                a {
                    text-decoration: none;
                    outline: none;
                    color: black;
                }
            }
            button:nth-child(2n+1) {
                width: 205px;
            }
        }
    }
}

#nav_bottom_wrapper {
    width: 100%;
    max-width: 750px;
    min-width: 750px;
    margin-top: 20px;
    margin: 0 auto;
    display: block;
    background-color: #eee;
    div {
        display: flex;
        position: relative;
        margin: 0 auto;
        width: 750px;
        justify-content: space-between;
        align-items: center;
        button {
            font-size: 36px;
            width: 350px;
            height: 88px;
            border: 0 1px solid grey;
            border-radius: 0px;
            background-color: #333;
            a {
                text-decoration: none;
                outline: none;
                color: white;
            }
        }
        button:nth-child(2n+1) {
            width: 200px;
        }
    }
}
