#sszz_wrapper {
    display: block;
    width: 750px;
    margin: 0 auto;
    position: relative;
}

.top_module_wrapper {
    display: block;
    width: 750px;
    margin: 0 auto;
    position: relative;
    .big_img {
        width: 100%;
        height: 370px;
        background-color: red;
    }
    span {
        display: block;
        margin: 0 auto;
        font-size: 26px;
        text-align: center;
    }
    span:first-of-type {
        margin-top: 20px;
    }
    span:last-child {
        margin-bottom: 20px;
    }
}

.Middle_module_wrapper {
    width: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
}

.Type1_middle_module_wrapper {
    display: block;
    position: relative;
    width: 90%;
    margin: 0 auto;
    border-top: 2px solid grey;
    .left_wrapper,
    .right_wrapper {
        box-sizing: border-box;
        display: block;
        position: relative;
        width: 50%;
        height: 300px;
        float: left;
        margin-top: 50px;
    }
    .left_wrapper {
        padding-left: 50px;
        img {
            display: block;
            width: 200px;
            height: 80px;
            background-color: red;
        }
        span {
            display: block;
            font-size: 22px;
        }
        span:first-of-type {
            margin-top: 22px;
        }
    }
    .right_wrapper {
        padding-left: 50px;
        img {
            display: block;
            float: left;
        }
        img:first-child {
            height: 200px;
            width: 100px;
            background-color: red;
            margin-top: 5px;
        }
        img:last-child {
            height: 160px;
            width: 100px;
            background-color: red;
            margin-top: 45px;
            margin-left: 20px;
        }
    }
}

.Type2_middle_module_wrapper {
    display: block;
    position: relative;
    width: 90%;
    margin: 0 auto;
    .left_wrapper,
    .right_wrapper {
        box-sizing: border-box;
        display: block;
        position: relative;
        width: 50%;
        height: 300px;
        float: left;
        margin-top: 50px;
    }
    .right_wrapper {
        padding-left: 50px;
        img {
            display: block;
            width: 200px;
            height: 80px;
            background-color: red;
        }
        span {
            display: block;
            font-size: 22px;
        }
        span:first-of-type {
            margin-top: 22px;
        }
    }
    .left_wrapper {
        img {
            display: block;
            height: 200px;
            width: 200px;
            background-color: red;
            margin: 0 auto;
        }
    }
}

.Type3_middle_module_wrapper {
    display: block;
    position: relative;
    width: 90%;
    margin: 0 auto;
    .left_wrapper,
    .right_wrapper {
        box-sizing: border-box;
        display: block;
        position: relative;
        width: 50%;
        height: 300px;
        float: left;
        margin-top: 50px;
    }
    .left_wrapper,
    .down_right_wrapper {
        padding-top: 50px;
        padding-left: 50px;
        img {
            display: block;
            width: 200px;
            height: 80px;
            background-color: red;
        }
        span {
            display: block;
            font-size: 22px;
        }
        span:first-of-type {
            margin-top: 22px;
        }
    }
    .right_wrapper,
    .down_left_wrapper {
        img {
            display: block;
            height: 200px;
            width: 200px;
            background-color: red;
            margin: 0 auto;
        }
    }
    .down_left_wrapper,
    .down_right_wrapper {
        box-sizing: border-box;
        display: block;
        position: relative;
        width: 50%;
        height: 300px;
        float: left;
    }
}

.Type4_middle_module_wrapper {
    display: block;
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    .top_wrapper {
        display: block;
        position: relative;
        width: 90%;
        margin: 0 auto;
        img {
            display: block;
            width: 200px;
            height: 80px;
            background-color: red;
        }
        span {
            display: block;
            margin-top: 20px;
            font-size: 22px;
        }
    }
    .bottom_wrapper {
        display: block;
        position: relative;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        img {
            display: block;
            width: 100%;
            height: 100px;
            background-color: red;
        }
    }
}

.Type5_middle_module_wrapper {
    display: block;
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    .left_wrapper,
    .right_wrapper {
        box-sizing: border-box;
        display: block;
        position: relative;
        width: 50%;
        height: 300px;
        float: left;
        margin-top: 50px;
    }
    .left_wrapper {
        img {
            display: block;
            width: 200px;
            height: 80px;
            background-color: red;
            margin-left: 30px;
        }
        span {
            display: block;
            margin-top: 20px;
            font-size: 22px;
            margin-left: 30px;
        }
    }
    .right_wrapper {
        img {
            display: block;
            height: 200px;
            width: 200px;
            background-color: red;
            margin: 0 auto;
            margin-left: 80px;
        }
    }
}

.bottom_module_wrapper {
    display: block;
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 300px;
    border-top: 2px solid grey;
    .middle_module {
        display: block;
        position: relative;
        width: 100%;
        height: 340px;
        .icon_img {
            display: block;
            width: 150px;
            height: 150px;
            margin: 0 auto;
            margin-top: 40px;
            background-color: red;
        }
        span {
            display: block;
            font-size: 30px;
            color: #e52e04;
            margin: 0 auto;
            margin-top: 20px;
            text-align: center;
        }
        span:last-child {
            display: block;
            font-size: 30px;
            color: black;
            margin: 0 auto;
            margin-top: 10px;
        }
    }
}

.sszz_go_produce {
    display: block;
    width: 100%;
    background-color: #e52e04;
    color: white;
    height: 87px;
    line-height: 87px;
    border: 0px;
    text-align: center;
}
