#yhj_wrapper {
    display: block;
    position: relative;
    width: 750px;
    margin: 0 auto;
}

.no_coupon_wrapper {
    display: block;
    width: 100%;
    height: 1000px;
    img {
        display: block;
        height: 250px;
        width: 250px;
        background-color: red;
        margin: 0 auto;
        margin-top: 300px;
    }
    span {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        width: 80%;
        text-align: center;
        font-size: 40px;
        color: grey;
    }
    a {
        text-decoration: none;
        display: block;
        margin: 0 auto;
        margin-top: 100px;
        width: 54%;
        text-align: center;
        font-size: 40px;
        color: red;
    }
}

.coupon_wrapper {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    .ticket_top_module {
        display: block;
        margin-top: 20px;
        width: 610px;
        height: 200px;
        margin: 0 auto;
        .left_wrapper,
        .right_wrapper {
            display: block;
            float: left;
            height: 100px;
            margin-top: 50px;
            width: 50%;
            span {
                display: block;
                font-size: 28px;
                margin-bottom: 10px;
            }
            span:nth-child(3) {
                font-size: 22px;
                color: #e52e04;
            }
        }
        .right_wrapper {
            float: right;
            span {
                display: block;
                float: right;
                color: #e52e04;
                font-size: 60px;
            }
            span:nth-child(1) {
                font-size: 100px;
            }
            span:nth-child(2) {
                margin-top: 35px;
            }
        }
    }
    .ticket_bot_module {
        display: block;
        position: relative;
        width: 610px;
        height: 80px;
        margin: 0 auto;
        border-top: 2px dashed grey;
        span {
            display: block;
            float: left;
            color: grey;
            font-size: 26px;
            line-height: 80px;
        }
        span:nth-child(2) {
            float: right;
        }
        span:nth-child(3) {
            float: right;
        }
    }
}

.condition_desc {
    display: block;
    width: 610px;
    margin: 0 auto;
    padding-top: 30px;
    border-top: 1px solid grey;
    font-size: 26px;
    color: grey;
}

.arrow {
    margin-top: 34px;
    height: 10px;
    width: 10px;
    background-color: red;
}
